<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PRIVATE_API_KEY</key>
	<string>700147bfe441118f985aba3b07e1bcaa885c3e6b</string>
	<key>PUBLIC_API_KEY</key>
	<string>d4f08262ff2e80645cd9484e82741666</string>
</dict>
</plist>
